.App {
  text-align: center;
}

hr {
  margin: 50px;
}

.good {
  color: rgb(0, 128, 0);
}

.bad {
  color: rgb(255, 0, 0);
}

input {
  width: 500px;
  margin: 10px auto;
  display: block;
  padding: 10px;
  text-align: center;
}
.card {
  display: block;
  background-color: rgb(250, 170, 170);
  padding: 10px;
  font-size: 14px;
  width: 500px;
  margin: 20px auto 50px;
  text-align: center;
  border-radius: 5px;
}
.mood {
  display: inline-block;
  font-size: 30px;
}
.name {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  text-align: left;
}
.position {
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}